<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @book_detail.user, book: @book %>

      <h2 class="mt-3">New book</h2>
      <%= render 'layouts/errors', obj: @book %> 
      <%= render 'form', book: @book %>
    </div>

    <div class='col-md-8 offset-md-1'>
      <h2>Book detail</h2>

  <table>
    <tr>
      <td>
        <%= image_tag @book_detail.user.get_profile_image, size: "60x60" %>
      </td>
      <td><%= link_to @book_detail.title, @book_detail %></td>
      <td><%= @book_detail.body %></td>
      <td>
        <span id="favorite-<%= @book_detail.id %>">
          <%= render 'favorites/button', book: @book_detail %>
        </span>
      </td>
      <td>コメント数：<%= @book_detail.post_comments.count %></td>
      <td>
        <% if @book_detail.user == current_user %>
          <%= link_to 'Edit', edit_book_path(@book_detail) %>
          <%= link_to 'Destroy', @book_detail,
                      method: :delete, data: { confirm: '本当に消しますか？' } %>
        <% end %>
      </td>
    </tr>
  </table>
  

  <%= render 'post_comments/list', book: @book_detail %>

<%= form_with model: [@book_detail, @post_comment],
              local: false,                     # ← これでAJAX送信（remote: true）
              html: { id: "new-comment-form" } do |f| %>
  <%= f.text_area :comment, rows: '5', placeholder: 'コメントをここに' %>
  <%= f.submit '送信する' %>
<% end %>

    </div>
  </div>
</div>